node_modules
dist
dist-ssr
.turbo
.vite
coverage
test-results
playwright-report
blob-report
.playwright
*.local
.env
.env.*.local
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.log
.pnpm-store
.eslintcache
*.tsbuildinfo
